:root {
  --foreground-colour: rgb(231, 177, 58);
}

.back-link {
  font-size: 1.3rem;
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

.rectangle-divider {
  height: 0.7rem;
  border-radius: 7px;
  background-color: var(--foreground-colour);
  border-color: var(--foreground-colour);
  margin: 3rem 0px 7rem 0px;
}

.back-link-button {
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: var(--foreground-colour);
  border-radius: 4px;
  margin-top: 7rem;
  color: rgb(0, 0, 0);
}
