:root {
  --background-colour: rgb(22, 22, 22);
}

body {
  color: white;
  font-family: "Courier New", Courier, monospace;
  background-color: var(--background-colour);
  margin: 5rem 15rem;
}

section {
  margin-top: 4rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.7rem;
}

p {
  font-size: 1.3rem;
}

a {
  text-decoration-line: none;
}
